@CHARSET "UTF-8";
@keyframes doctorform {
	0%{transform:scale(0.5)}
	99%{transform:scale(1.05)}
	100%{transform:scale(1)}
}
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgba(153, 153, 153, 0.1);
}

#banner {
	width: 1520px;
	height: 1300px;
	margin: auto;
	position: relative;
}

#gongneng {
	font-size: 20px;
	font-family: "micorsofr yahei";
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}
#xinxi {
	position: relative;
	height: 600px;
	width: 100%;
	background: rgba(255, 255, 255, 0.6);
}

#gonggao {
	background: #FFF;
	width: 1520px;
	height: 555px;
}

#xinxi_left {
	width: 300px;
	height: 100%;
	float: left;
	background: #FFF;
}

#xinxi_right {
	position: absolute;
	top: 0px;
	left: 300px;
	height: 100%;
	width: 1219px;
	border-left: 1px solid rgba(102, 102, 102, 0.5);
}

#xinxi_left ul {
	width: 100%;
}

#xinxi_left ul li {
	cursor: pointer;
	display: block;
	width: 100%;
	list-style: none;
	line-height: 50px;
	border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

.lis {
	font-weight: bolder;
	width: 100%;
	min-height: 50px;
}

.lis-li {
	text-align: center;
	border-top: 1px solid rgba(102, 102, 102, 0.5);
}

.xinxi_right_1 {
	position:relative;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: #FFF;
}

.lis-li:hover {
	background: rgba(0, 153, 153, 0.5);
	color: #FFF;
}

.xinxi_right_1 p {
	font-size: 20px;
	font-family: "microsoft yahei";
	font-weight: 500px;
}

.xinxi_right_1:nth-child(1) {
	display: block;
}

.table_tr {
	width: 100px;
	height: 20px;
	border: 1px solid #000;
}

#huanzhe_td {
	text-align: center;
	border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

#huanzhe_div span {
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: red;
}

#huanzhe_div span:hover {
	color: #FFF;
}

#doctor_td {
	text-align: center;
	border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

#doctor_div span {
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: red;
}

#doctor_div span:hover {
	color: #FFF;
}

#admin_td {
	text-align: center;
	border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}

#admin_div span {
	width: 50px;
	height: 20px;
	cursor: pointer;
	color: red;
}

#admin_div span:hover {
	border-bottom: 1px solid rgba(0, 153, 153, 0.5);
}

#changeform {
	position: relative;
	display: none;
	width: 400px;
	height: 260px;
	margin: 50px auto;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
	display: none;
}

#changeform p {
	position: absolute;
	left: 50px;
}

#changeform p:nth-child(1) input,#changeform p:nth-child(2) input {
	margin-left: 10px;
	border: none;
	border-bottom: 1px solid rgba(0, 153, 153, 0.6);
	outline: none;
	color: rgba(0, 153, 153, 0.6);
}

#changeform p:nth-child(1) {
	font-size: 14px;
	top: 60px;
}

#changeform p:nth-child(2) {
	font-size: 14px;
	top: 120px;
}

#changeform p:nth-child(3) {
	top: 200px;
}

#ok, #no, #changebut{
	width: 100px;
	height: 30px;
	border: 1px solid rgba(0, 153, 153, 0.6);
	color: #FFF;
	background: rgba(0, 153, 153, 0.6);
	margin-left: 20px;
	transition: 0.5s;
}

#ok:hover, #no:hover, #changebut:hover {
	background: rgba(255, 255, 255, 0);
	color: #000;
}

#newgonggao {
	font-size: 20px;
	font-family: "micorsofr yahei";
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}

#sbottom {
	height: 60px;
	width: 100%;
	min-width: 1520px;
	border-top: 1px solid rgba(102, 102, 102, 0.5);
	color: rgba(102, 102, 102, 0.5);
	font-size: 14px;
	text-align: center;
}

tr:hover {
	background: rgba(0, 153, 153, 0.6);
	cursor: pointer;
}

#message_div {
	position: relative;
	margin-left: 10px;
}

#message_div p {
	margin-top: 5px;
}

#message_div span:hover {
	color: red;
}

#message_div p:hover {
	background: rgba(0, 153, 153, 0.6);
	cursor: pointer;
}

#message_div div {
	width: 700px;
	height: 79px;
	background: #FFF;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

#message_div div span {
	position: absolute;
	top: 378px;
	left: 648px;
	color: #FFF;
	width: 50px;
	height: 20px;
	border: 1px solid rgba(0, 153, 153, 0.5);
	background: rgba(0, 153, 153, 0.5);
	text-align: center;
	cursor: pointer;
}

#message_div div span:hover {
	background: rgba(0, 0, 0, 0);
	color: rgba(0, 153, 153, 0.5);
}

#gonggao{
	position:relative;
}
#gonggao p {
	border-bottom: 1px solid rgba(0, 153, 153, 0.6);
	width: 100%;
	height: 20px;
	padding: 5px 0px;
	transition:0.2s;
}

#gonggao p:hover{
	background: rgba(0, 153, 153, 0.5);
	cursor:pointer;
}

.gonggaosp{
	width:100%;
	height:30px;
	font-family: "microsoft yahei";
	font-size: 16px;
}
.gonggao_con{
	position:absolute;
	left:400px;
	top:50px;
	display:block;
	display:none;
	background:#FFF;
	width:680px;
	height:400px;
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.2);
	border-radius:5px;
}

.close{
	width:88px;
	height:30px;
	position:absolute;
	left:590px;
	top:368px;
	border:1px solid rgba(0, 153, 153, 0.5);
	background:rgba(0, 153, 153, 0.5);
	text-align:center;
	border-radius:0px 0px 5px 0px;
}
/* 医生注册 */
#doctor_add,#admin_add{
	position:relative;
	display:none;
	position:absolute;
	left:350px;
	top:110px;
	background:#FFF;
	border-radius:5px;
	width:400px;
	height:440px;
	box-shadow:0px 0px 1px 1px rgba(0,0,0,0.6);
	animation:doctorform 0.2s;
}
#doctor_add p{
	margin-left:55px;
}
#doctorusername,
#doctorpassword,
#doctorsex,
#doctorage,
#doctorzhicheng,
#adminusername,
#adminpassword,
#doctorkeshiid{
	border:none;
	border-bottom:1px solid rgba(0,153,153,0.6);
	color:rgba(0,153,1530,0.6);
	font-size:16px;
	outline:none;
	background:rgba(0,0,0,0);
}

#doctor_add p:nth-child(1){
	position:absolute;
	top:10px;
}
#doctor_add p:nth-child(2){
	position:absolute;
	top:65px;
} 
#doctor_add p:nth-child(3){
	position:absolute;
	top:120px;
}
#doctor_add p:nth-child(4){
	position:absolute;
	top:175px;
}
#doctor_add p:nth-child(5){
	position:absolute;
	top:225px;
}
#doctor_add p:nth-child(6){
	position:absolute;
	top:280px;
}

#doctor_add p:nth-child(7){
	position:absolute;
	top:360px;
	left:30px;
}


#doctorbut,
#doctorno,
#doctorRegister,
#AdminRegister,
#adminbut,
#adminrno,
#doctorshuaxin,
#ok2,#reset,.newssp{
	border:none;
	width:100px;
	height:30px;
	border:1px solid rgba(0,153,153,0.5);
	background:rgba(0,153,153,0.5);
	text-align:center;
}
#doctorbut:hover,
#doctorno:hover,
#doctorRegister:hover,
#AdminRegister:hover,
#adminbut:hover,
#adminrno:hover,
#doctorshuaxin:hover,
#ok2:hover,#reset:hover,.newssp:hover{
	background:rgba(0,0,0,0);
}
.newssp{
	position:absolute;
	left:475px;
	top:368px;
}
.doctors{
	font-size:14px;
	color:red;
	margin-left:60px;
	display:none;
}

.admins{
	font-size:14px;
	color:red;
	margin-left:60px;
	display:none;
}
#admin_add p{
	margin-left:55px;
}
#admin_add p:nth-child(1){
	position:absolute;
	top:120px;
}
#admin_add p:nth-child(2){
	position:absolute;
	top:215px;
}
#admin_add p:nth-child(3){
	position:absolute;
	top:360px;
	left:30px;
}

#title{
	margin-left:20px;
	outline:none;
	font-size:20px;
	width:1120px;
	height:30px;
	border:none;
	border-bottom:1px solid rgba(0,153,153,0.5);
}

#messages{
	resize:none;
	width:1210px;
	height:440px;
	border:1px solid rgba(0,153,153,0.5);
	outline:none;
	font-size:18px;	
}


