@CHARSET "UTF-8";
@keyframes tops{
	
	0%{}
	
	
}
#top{
	position:relative;
	height:500px;
	width:100%;
	min-width:1520px;
}
#top img{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:500px;
}