@CHARSET "UTF-8";

body {
	background: url("../img/3.jpg") center;
}

#loginfrom {
	margin: 200px auto;
	height: 355px;
	width: 390px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#sp1, #sp {
	display: none;
	color: red;
}

#login-a {
	margin: auto;
	width: 280px;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0);
	position: relative;
}

p {
	margin-top: 35px;
}

p:nth-child(1) {
	margin-top: 80px;
	position: absolute;
	top: 10px;
	left: 0px;
}

p:nth-child(2) {
	margin-top: 80px;
	position: absolute;
	top: 70px;
	left: 0px;
}

p:nth-child(3) {
	margin-left: 95px;
	position: absolute;
	top: 170px;
	left: 25px;
}

p:nth-child(4) {
	position: absolute;
	top: 250px;
	left: 0px;
}

p:nth-child(5){
	position: absolute;
	top: 210px;
	left:0px;
}

#login, #no {
	font-size: 20px;
	color: #fff;
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 5px;
	background: rgba(0, 153, 153, 0.6);
	cursor: pointer;
}

#no {
	margin-left: 65px;
}

#no:hover {
	color: rgba(0, 153, 153, 0.6);
	background: rgba(255, 255, 255, 0);
	border: 1px solid rgb(0, 153, 153);
}

#login:hover {
	color: rgba(0, 153, 153, 0.6);
	background: rgba(255, 255, 255, 0);
	border: 1px solid rgb(0, 153, 153);
}

#username, #password {
	height: 20px;
	border: none;
	font-size: 16px;
	color: rgba(0, 153, 153, 0.8);
	border-bottom: 1px solid rgba(0, 153, 153, 0.6);
	background: rgba(255, 255, 255, 0);
}

#sp1, #sp {
	margin-left: 70px;
}